body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 40px;
    color: orange;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

nav {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.flex-container {
    padding: 8px 16px;
    border-radius: 2rem;
    transition: transform 0.2s ease-in-out;
    font-size: 22px;
}

.flex-container:hover {
    background-color: orange;
    transform: scale(1.1);
    color: white;
}
